[submodule "python-gr"]
	path = python-gr
	url = https://github.com/sciapp/python-gr.git
[submodule "gr"]
	path = gr
	url = https://github.com/sciapp/gr.git
[submodule "GR.jl"]
	path = GR.jl
	url = https://github.com/jheinen/GR.jl.git
[submodule "grs"]
	path = grs
	url = https://github.com/rust-gr/grs.git
