alabaster==0.7.12
Babel==2.10.1
breathe==4.33.1
certifi==2022.5.18.1
chardet==4.0.0
docutils==0.17.1
idna==3.3
imagesize==1.3.0
Jinja2==3.1.2
MarkupSafe==2.1.1
packaging==21.3
Pygments==2.12.0
pyparsing==3.0.9
pytz==2022.1
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
git+https://github.com/danielkaiser/sphinx-julia.git@8590431a6d2be0e9d0ec180c4c9c147f3f8382de#egg=Sphinx_Julia
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.9
vcversioner==2.16.0.0
