alabaster==0.7.13
Babel==2.12.1
breathe==4.35.0
certifi==2023.7.22
chardet==5.1.0
charset-normalizer==2.0.12
docutils==0.18.1
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.3
packaging==23.1
Pygments==2.15.1
pyparsing==3.0.9
pytz==2023.3
requests==2.32.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==6.2.1
git+https://github.com/danielkaiser/sphinx-julia.git@21805a92aaf250c6d8821d8262a71d32afdce60d#egg=Sphinx_Julia
sphinx-rtd-theme==1.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==2.0.7
vcversioner==2.16.0.0
