alabaster==0.7.12
Babel==2.6.0
breathe==4.12.0
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
idna==2.8
imagesize==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==19.0
Pygments==2.3.1
pyparsing==2.4.0
pytz==2019.1
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinx-rtd-theme==0.4.2
-e git://github.com/bastikr/sphinx-julia.git#egg=Sphinx_Julia
vcversioner==2.16.0.0
